<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>管理员添加--井冈山云平台</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" href="../../layui/css/layui.css" media="all" />
</head>
<body class="childrenBody">
	<form class="layui-form">
		<div class="layui-form-item">
			<label class="layui-form-label">用户名</label>
			<div class="layui-input-block">
				<input type="text" name="username" class="layui-input adminName" lay-verify="required|username" placeholder="请输入用户名">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">昵称</label>
			<div class="layui-input-inline">
				<select name="nickname" class="nickname" lay-filter="browseLook">
					<option value="0">-请选择-</option>
				</select>
			</div>
			<!--<div class="layui-input-block">
				<input type="text" name="nickname" class="layui-input" lay-verify="required|nickname" placeholder="请输入昵称">
			</div>-->
		</div>
		<div class="layui-form-item">
			<div class="layui-inline">
				<label class="layui-form-label">角色</label>
				<div class="layui-input-block">
					<input type="radio" name="role" lay-filter="role" value="照片审核管理员" title="照片审核管理员" checked>
					<input type="radio" name="role" lay-filter="role" value="内容管理员" title="内容管理员" >
				</div>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">状态</label>
			<div class="layui-input-block">
				<input type="checkbox" checked="" name="status" lay-skin="switch" lay-text="启用|禁用">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">手机号</label>
			<div class="layui-input-block">
				<input type="text" name="phone" class="layui-input" lay-verify="required|phone|checkPhone" placeholder="请输入手机号">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">邮箱</label>
			<div class="layui-input-block">
				<input type="text" name="email" class="layui-input" lay-verify="email|checkEmail" placeholder="请输入邮箱">
			</div>
		</div>
		<div class="layui-form-item">
			<div class="layui-input-block">
				<button class="layui-btn" lay-submit="" lay-filter="addAdmin">立即提交</button>
				<button type="reset" class="layui-btn layui-btn-primary">重置</button>
		    </div>
		</div>
	</form>
	<script type="text/javascript" src="../../layui/layui.js"></script>
	<script type="text/javascript" src="adminAdd.js"></script>
</body>
</html>