<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>文章添加--layui后台管理模板</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" href="../../layui/css/layui.css" media="all" />
</head>
<style>
    a.img{
        display: block;
        width: 100px;
        height: 100px;
        margin: 0 auto;
        margin-bottom: 15px;
    }
    a.img img{
        display: block;
        border: none;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border: 4px solid #44576b;
    }
</style>
<body class="childrenBody">
<form class="layui-form">
	<div class="layui-inline">
		<label class="layui-form-label">景点</label>
		<div class="layui-input-block">
			<input type="text" name="aname" disabled class="layui-input aname">
		</div>
	</div>
	<div class="layui-form-item">
		<div class="layui-inline">
			<label class="layui-form-label">路线名称</label>
			<div class="layui-input-block">
				<input type="text" name="rname" class="layui-input rname" lay-verify="required" placeholder="请输入路线名称">
			</div>
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">路线</label>
		<div class="layui-input-block">
			<textarea placeholder="请按顺序输入景点名，以“-”分隔。例：黄洋界-大井-八面山" name="route" class="layui-textarea"></textarea>
		</div>
	</div>
	<div class="layui-form-item">
		<div class="layui-input-block">
			<button class="layui-btn" lay-submit="" lay-filter="editRoute">立即提交</button>
			<button type="reset" class="layui-btn layui-btn-primary">重置</button>
		</div>
	</div>
</form>
	<script type="text/javascript" src="../../layui/layui.js"></script>
		<script type="text/javascript" src="routeEdit.js"></script>
</body>
</html>