<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>图片总数--layui后台管理模板</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" href="../../layui/css/layui.css" media="all" />
	<link rel="stylesheet" href="../../css/images.css" media="all" />
</head>
<body class="childrenBody">
	<form class="layui-form" id="uploadForm" action="/index.php/img/JudgeOperate/upload" method="post" target="myiframe" enctype="multipart/form-data">
		<input id="scenic_id" name="scenic_id" type="hidden" />
		<input id="total" name="total" type="hidden" />
		<input id="success" name="success" type="hidden" />
		<input id="fail" name="fail" type="hidden" />
		<blockquote class="layui-elem-quote news_search">
			<div class="layui-inline">
				<input type="checkbox" name="selectAll" id="selectAll" lay-filter="selectAll" lay-skin="primary" title="全选">
			</div>
			<div class="layui-inline">
					<input class="layui-upload-file" type="file" accept="image/gif, image/jpeg,image/png" name="uploadfile[]" id="uploadfile" onchange="fileSelected();" multiple="" style="display:none;">
				<iframe id="myiframe" name="myiframe" style="display:none;"></iframe>
				<a class="layui-btn uploadPic">上传新图片</a>
				<button class="layui-btn layui-btn-fluid upload-btn" id="upload-btn" lay-submit lay-filter="uploadPic" style="display: none"></button>
				<button class="layui-btn layui-btn-fluid close-btn" id="close-btn" lay-submit lay-filter="closeMark" style="display: none"></button>
			</div>
			<div class="layui-inline">
				<a class="layui-btn layui-btn-danger batchDel">批量删除</a>
			</div>
		</blockquote>
		<ul id="Images"></ul>
	</form>
	<script type="text/javascript" src="../../layui/layui.js"></script>
	<script type="text/javascript" src="images.js"></script>
	<script>
        	function fileSelected() {
				var fileName = document.getElementById("uploadfile").value;
				if(fileName=="")
				{
					return ;
				}
				document.getElementById("upload-btn").click();
				//document.getElementById("uploadForm").submit();
        	}
        	function closeMark(obj,total,success,fail){
                document.getElementById("total").value = total;
                document.getElementById("success").value = success;
                document.getElementById("fail").value = fail;
                document.getElementById("close-btn").click();
			}
	</script>
</body>
</html>